<h1>Available brands</h1><br>
  <div class="container ">
<% if @brands.any?() %>
    <p>Click on a brand to see information :</p>

    <ul>
      <% @brands.each do |brand| %>
      <li><a href="/brands/<%= brand.id() %>"><%= brand.name() %></a><p>Added On:</p><%= brand.created_at() %></li>
        <p><a href="/brands/<%= brand.id() %>/edit"><button class="button btn"> Edit <%= brand.name() %> brand</button></a></p>
      <% end %>
    </ul>
  <% else %>
    <p>There are no brands added yet!</p>
  <% end %>
</div><br>
  <div class="container">

      <a href="/top"><button class="button btn-info">Go Home</button></a>
  </div>
