<h1>All Stores</h1>

<% if @stores.any?() %>
    <p>Click on a store to see information :</p>

    <ul>
      <% @stores.each do |store| %>
      <li><a href="/stores/<%= store.id() %>"><%= store.name() %></a><p>joined on:</p><%= store.created_at() %></li>
      <p><a href="/stores/<%= store.id() %>/edit"><button class="button btn-success"> Edit <%= store.name() %> store</button></a></p>
      <% end %>
    </ul>
  <% else %>
    <p>There are no stores added yet!</p>
  <% end %>
